
			.main{
				    min-height: calc(100vh - 454px);
				    background: #ededed;
				    overflow: hidden;
				    width: 100%;
			}
			.store-content {
				    clear: both;
				    width: 1220px;
				    padding: 0 0 25px;
				    margin: 0 auto;
			}
			.gray-box {
			    	padding: 30px 0 20px;
			        overflow: hidden;
    				margin-bottom: 20px;
    				padding: 30px 0 30px;
    				overflow: hidden;
				    background: #fff;
				    border-radius: 8px;
				    border: 1px solid #dcdcdc;
				    border-color: rgba(0,0,0,.14);
				    -webkit-box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
				    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
			}
			.gray-box .cover{
				float: left;
    			margin: 0 0 0 28px;
			}
			.story-content {
			    float: right;
			    width: 640px;
			    margin: 30px 60px 0 23px;
			}
			.story-content .share{
				    padding-bottom: 18px;
    				overflow: hidden;
			}
		 	.story-content h2 {

			    font-size: 24px;
			    color: #000;
			}
			.story-content h2 a
			{
				color: #000;
			}
			.story-content h4{
				    color: #999;
				    float: left;
				    margin-top: 14px;
			}
			.story-content .story{
				    padding: 26px 0;
    				line-height: 24px;
    				border-top: 1px solid #EEE;
    				border-bottom: 1px solid #EEE;
			}
			.discount span{
				    color: #d44d44;
			}
			.story-content .info{
				    padding: 26px 0 0 0;
				    overflow: hidden;
				    line-height: 40px;
			}
			.story-content .price {
			    float: left;
			    margin-top: 5px;
			}
			.story-content .price .normal{
				    margin-right: 7px;
			}
			.story-content .story a {
			    margin-left: 6px;
			    color: #5079d9;
    			cursor: pointer;
			}
			.story-content .price .highlight {
			    font-weight: 700;
			    margin-left: -3px;
			     color: #d44d44;
			    font-size: 18px;
			}
			.story-content .price i {
			    font-size: 26px;
			}
			.story-content .price.discount .origin {
			    position: relative;
			    margin-left: 8px;
			    font-size: 18px;
			    color: #999;
			}
			.story-content .price.discount .origin i {
			    font-size: 18px;
			}
			.story-content .price.discount .origin:after {
			    position: absolute;
			    content: '';
			    border-top: 2px solid #d44d44;
			    width: 100%;
			    top: 46%;
			    left: 0;
			}
			.info .big-main-btn {
			    float: right;
			    width: 139px;
			}
			.big-main-btn {
			    height: 48px;
			    background: linear-gradient(#799CEA,#567CE6);
    			box-shadow: 0 1px 3px rgba(0,0,0,.1), inset 0 -1px 2px rgba(0,0,0,.2);
    			display: block;
			    padding: 1px;
			    margin: 0 auto;
			    border-radius: 9px;
			    background: #015e94;
			    background: linear-gradient(#5598c9,#2a6da2);
			    text-align: center;
			    text-shadow: rgba(255,255,255,.496094) 0 1px 0;
			    cursor: pointer;

			}
			.info .big-main-btn a {
			    font-size: 16px;
			     height: 44px;
			    line-height: 45px;
			    font-size: 18px;
			    color: #FFF;
			}